{% extends 'base.html' %}


{% block content %}

<section id="banner">
  <div class="container-fluid text-center">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="home-search p-4">
          <h1 class="display-4 mb-4">
            Votre Future Maison
          </h1>
          <div class="search">
            <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Mot-clé</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Mot-clé (Piscine, Garage, etc)">
                </div>

                <div class="col-md-6 mb-3">
                  <label class="sr-only">Ville</label>
                  <input type="text" name="city" class="form-control" placeholder="Ville">
                </div>
              </div>
              <!-- Form Row 2 -->
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Chambres</label>
                  <select name="bedrooms" class="form-control">
                    <option selected="true" disabled="disabled">Chambres (Toutes)</option>
                    {% for key,value in bedroom_choices.items %}
                    <option value="{{key}}">{{value}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-6 mb-3">
                  <select name="price" class="form-control" id="type">
                    <option selected="true" disabled="disabled">Prix maximum (Tous)</option>
                    {% for key,value in price_choices.items %}
                    <option value="{{key}}">{{value}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <!-- Form Row 3 -->
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Surface</label>
                  <select name="bedrooms" class="form-control">
                    <option selected="true" disabled="disabled">Surface (Toutes)</option>
                    {% for key,value in surfaces.items %}
                    <option value="{{key}}">{{value}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Envoyer</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="listings" class="py-4">
  <div class="container">
    <h3 class="text-center mb-3">Nos derniers bien rentrés</h3>
    <div class="row">
      {% include 'partials/_alerts.html' %}
      {% if listings %}
      {% for listing in listings %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card listing-preview">
          <img class="card-img-top" src="{{listing.photo_main.url}}" alt="Maison">
          <div class="card-body">
            <div class="listing-heading text-center">
              <h4 class="title">{{listing.title}}</h4>
              <p>
                <i class="fas fa-map-marker text-secondary"></i> {{listing.city}} {{listing.postcode}}
              </p>
              <h2 class="price text-center">{{listing.price}} €</h2>

            </div>
            <hr>
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-th-large"></i> Surface: {{listing.square_meters}} m²
              </div>
              <div class="col-6">
                <i class="fas fa-car"></i> Garage: {{listing.garage}}
              </div>
            </div>
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-bed"></i> Chambres: {{listing.bedrooms}}
              </div>
              <div class="col-6">
                <i class="fas fa-bath"></i> Salle de Bain: {{listing.bathrooms}}
              </div>
            </div>
            <hr>
            <div class="row py-2 text-secondary">
              <div class="col-12">
                <i class="fas fa-user"></i> {{listing.realtor}}
              </div>
            </div>
            <div class="row text-secondary pb-2">
              <div class="col-6">
                <i class="fas fa-clock"></i> {{listing.list_date}}
              </div>
            </div>
            <hr>
            <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">Plus d'info</a>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="col-md-12">
        <p>Aucun biens en vente ou à la location</p>
      </div>
      {% endif %}
    </div>
  </div>
</section>

<section id="services" class="py-5 bg-secondary text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <i class="fas fa-comment fa-4x mr-4"></i>
        <hr>
        <h3>Services</h3>
        <p>Estimation de votre bien, organisation des visites, finalisation de la vente</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-home fa-4x mr-4"></i>
        <hr>
        <h3>Gestion de propriétés</h3>
        <p>Lors de votre absence, nous nous occupons de la location de votre logement, de l'entretien de la maison</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-suitcase fa-4x mr-4"></i>
        <hr>
        <h3>Location et vente</h3>
        <p>Nos experts en vente et location sont disponibles quand vous le souhaitez si vous avez des question sur une
          possible vente ou mise en location de votre logement</p>
      </div>
    </div>
  </div>
</section>


{% endblock %}